<br><br><br>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>CONTÁCTANOS</h1>
        <br><br>
        <p><h2>Para más información escríbenos a:</h2></p>
        <br>
        <p><h2><a href="mailto:crearmy@gmail.com">crearmy@gmail.com</h2></a>
        </br>
        </p>
        <p><h1>O encuéntranos en:<h1></p>

        <br><br>
    <ul class="list-inline banner-social-buttons">
    <li>
        <a href="https://twitter.com/crearmy_" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
    </li>
        <li>
        <a href="http://www.facebook.com/crearmy" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
    </li>
        <li>
        <a href="http://www.instagram.com/crearmy" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
    </li>
    </ul>
    </div>
</div>
</section>
</br></br><br>

<!-- <br><br><br><br><br><br><br><br>


 <div class=" text-center">

<h1>CONTACTANOS</h1>
</div>
<br><br><br><br><br><br>

<form class="form-horizontal" role="form" method="post" action="index.php">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre & Apellido" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Mensaje</label>
        <div class="col-sm-8">
            <textarea class="form-control" rows="4" name="message"></textarea>
        </div>
    </div>
   
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <a class="btn btn-primary" href="mailto:crearmy@gmail.com">
                Enviar</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <! Will be used to display an alert to the user>
        </div>
    </div>
</form>
</br></br></br></br></br> -->