
<!--HOME SECTION END  -->

    <section id="works">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">¿Cómo funciona?</h2>
                        <p> Si eres un creativo, inscríbete. Escoge el área o las áreas de tu trabajo creativo y agrega tu portafolio de (Behance, Vimeo, Flickr o Soundcloud), responde las preguntas.</p>
<p> Después de crear tu perfil podrás conectarte con otros creativos o recibir propuestas de trabajo de personas o empresas que buscan creativos</p>
                    </p>
                </div>
            </div>

            <div class=" text-center">


<h1>Aliados</h1>
</div>
<br><br>
            <div class="row text-center portfolio-item">

                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-info">
<img src="http://i172.photobucket.com/albums/w40/nicolecadosch/2014-08-24_-_VersionesIdentificador_Fiona-03_zpscrodfkrg.png" style="padding-top: 20px;
padding-bottom: 30px;" class="img-responsive" alt="" >
                     
                     
                        <h5><a href="http://fionarecords.com/"
                           class="btn btn-default btn-lg" target="_blank"><strong>FIONA RECORDS</strong> </a></h5>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-info">
                        <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/arquetipos-final.jpgM_zpskz9mmfed.jpg" style="padding-bottom:27px;" class="img-responsive" class_"img-responsive" alt="" />
                        <h5><a href="http://worldtechmakers.com/"

                  class="btn btn-default btn-lg" target="_blank"> 
                  <strong>WORLD TECH MAKERS</strong> </a></h5>
                    </div>

                </div>
                
<div class="col-xs-6 col-sm-3">
                    <div class="alert alert-info">
<img src="http://i172.photobucket.com/albums/w40/nicolecadosch/vowlogo30_zpsa0iy2a4s.jpg" style=" height:163px;

padding-top:1px;
padding-bottom:30px;"  class="img-responsive" alt="" >
                  
                     
                        <h5><a href="http://www.vow.nu/"
                           class="btn btn-default btn-lg" target="_blank"><strong>VOW</strong> </a></h5>
                    </div>
                  
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-info">
                        <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/Editables%20Logo%20Smartfan-01_zpsjfoh8vre.jpg" class="img-responsive" class_"img-responsive" alt="" />
                        <h5><a href="http://smartfan.biz/"

                  class="btn btn-default btn-lg" target="_blank"> 
                  <strong>SMART FAN</strong> </a></h5>
                    </div>
                 </div>
                

                    </div>

                </div>

            </div>
        </div>
     </div>
  </div>
</div>
 </section>       
       

<!--  <div class=" text-center">

<h1>¿Cómo funciona?</h1>
</div>

<br><br>
<div class=" text-center">
<p>Crearmy es una plataforma que permite conectar a los creativos de diferentes áreas en un solo lugar.</p>

<p> Si eres un creativo, inscríbete. Escoge el área o las áreas de tu trabajo creativo y agrega tu portafolio de (Behance, Vimeo, Flickr o Soundcloud), responde las preguntas.</p>
<p> Después de crear tu perfil podrás conectarte con otros creativos o recibir propuestas de trabajo de personas o empresas que buscan creativos</p>
</div>

<br><br><br>

<div class=" text-center">

<h1>Aliados</h1>
</div>
<br><br>

<div class="row">
   <div class="col-sm-6 col-md-3">
      <a href="http://www.fionarecords.com" class="thumbnail" target="_blank">
         <img src="http://fionarecords.com/wp-content/uploads/2015/03/2014-08-24_-_VersionesIdentificador_Fiona-05-1.png" 
         alt="Generic placeholder thumbnail"/>
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="http://worldtechmakers.com/" class="thumbnail" target="_blank">
         <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/arquetipos-final.jpgM_zpskz9mmfed.jpg" 
         alt="Generic placeholder thumbnail"/>
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="http://www.tarefa.co/" class="thumbnail" target="_blank">
         <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/Screen%20Shot%202015-03-18%20at%2019.28.32_zpsv4ax1cap.png" alt="Generic placeholder thumbnail"/>
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
         <img src="/bootstrap/images/kittens.jpg" 
         alt="Generic placeholder thumbnail">
      </a>
   </div>
</div> -->