
 <div id="home">
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center">

                    <h1>CREARMY</h1>
                    <h2>Tu mundo creativo </h2>
                    <p class="p-cls">
                    </p>
                </div>

            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
    <section id="works">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">¿Cuál es tu área creativa?</h2>
                    <p>
                        Escoge las áreas que representan lo que haces
                    </p>
                </div>
            </div>
            <div class="row text-center portfolio-item">

                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-info">
                        <img src="http://images.all-free-download.com/images/graphiclarge/series_of_black_and_white_design_elements_vector_4_simple_pattern_151618.jpg" class="img-responsive "/>
                        <h3>DISEÑO GRÁFICO</h3>
                        <h5><a href="#" class="btn btn-default btn-lg"<strong>DISEÑO GRÁFICO</strong> </a></h5>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-danger">
                        <img src="http://upload.wikimedia.org/wikipedia/en/1/14/Albert_Gleizes,_1912,_Les_Baigneuses,_oil_on_canvas,_105_x_171_cm,_Paris,_Mus%C3%A9e_d'Art_Moderne_de_la_Ville_de_Paris_(black_and_white).jpg" class="img-responsive" alt=""/>

                        <h3>ARTE/ILUSTRACIÓN</h3>
                        <h5><a href="#" class="btn btn-default btn-lg"<strong>ARTE/ILUSTRACIÓN</strong> </a></h5>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-success">
                        <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/31H_zpste6qzuok.png" class="img-responsive" alt=""/>

                        <h3> FOTO Y VIDEO</h3>
                        <h5><a href="#" class="btn btn-default btn-lg" <strong>FOTO Y VIDEO</strong> </a></h5>
                    </div>

                </div>

                  <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-success">
                        <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/img22_zpsdfictzeh.jpg" class="img-responsive" alt=""/>

                        <h3> MÚSICA Y AUDIO</h3>
                        <h5><a href="" class="btn btn-default btn-lg"<strong>MÚSICA Y AUDIO</strong> </a></h5>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--WORKS / PORTFOLIO SECTION END  -->


    <div class="parallax-like">
        <div class="overlay">


            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div>
                            <strong>5000+</strong>
                            <p>
                                Creativos
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div>
                            <strong>100+</strong>
                            <p>
                                Empresas
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <div>
                            <strong>9590+</strong>
                            <p>
                                Proyectos
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--PARALLAX LIKE / STATS SECTION END  -->
    <section id="services">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">¿Cómo funciona?</h2>
                    <p>
              
                    </p>
                </div>
            </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row text-center pad-bottom">
                    <i class="fa fa-pencil fa-5x"></i>
                    <h4 class="head-set">REGÍSTRATE</h4>
                <p>
                      Crea tu perfil en Crearmy
                    </p>
                </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row text-center pad-bottom">
                    <i class="fa fa-desktop  fa-5x"></i>
                    <h4 class="head-set">CONÉCTATE</h4>
                    <p>Conecta tu perfil con tu portafolio online de Behance, Vimeo, Soundcloud o Flickr.     
                    </p>
                </div>
            </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="row text-center pad-bottom">
                    <i class="fa fa-bolt  fa-5x"></i>
                    <h4 class="head-set">CREA</h4>
                    <p>
                        Conéctate con otros creativos, recibe propuestas de proyectos y CREA!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICES SECTION END  -->


    <div class="parallax-like">
        <div class="overlay">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">¿Quién eres?</h2>
                    <p>
                    </p>
                </div>
            </div>

                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-4 text-center">
                        <h1 class="head-set">Creativo</h1>
                        <a href="#" class="thumbnail">
                          <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/photodune-4426980-drawings-s_zps1vs8pqeg.jpg" alt="..."/>

                        </a>
                        <p></p>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-4 text-center">
                        <h1 class="head-set">Buscas creativos</h1>
                        <div>
                            <a href="#" class="thumbnail">
                              <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/img1_zpso2yd73zq.png" alt="..."/>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- VIDEO SECTION END-->


<!-- <section id="contact">
        <div class="container">
            <div class="row text-center ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">CONTÁCTANOS</h2>
                    <p>info@crearmy.com
                     Bogotá,Colombia</p>
                    <br/>
                </div>
            </div>
        </div> -->

    </section id="contact">
    <!-- CONTACT SECTION END-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<section id="contact" class="container content-section text-center">
<div class="row">
<div class="col-lg-8 col-lg-offset-2">
<h2>Contacto</h2>
<p>Para más información escríbenos a:</p>
<p><a href="mailto:crearmy@gmail.com">crearmy@gmail.com</a>
</p>
<p>O encuéntranos en:</p>
<ul class="list-inline banner-social-buttons">
<li>
<a href="https://twitter.com/crearmy_" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
</li>
<li>
<a href="http://www.facebook.com/crearmy" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
</li>
<li>
<a href="http://www.instagram.com/crearmy" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
</li>
</ul>
</div>
</div>
</section>
    <!-- <section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/audio.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="assets/img/codecanon.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="assets/img/graphic.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="assets/img/themeforest.png" alt="" class="img-responsive" />
            </div>
        </div>

    </div> -->
        </section>
    <!-- CLIENTS SECTION END-->


